<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LFBook - Localizador de Livros</title>

    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="all-content">
        <header>
            <a href="/"><img src="assets/logo.svg" alt="LFBook logo"></a>

            <div class="menu">
                <a href="/sobre">Sobre</a>
                <a href="/contato">Contato</a>
            </div>
        </header>

        <form action="/livros" method="GET" class="field">
            <div class="search-bar">
                
                <input value="" type="text" name="search" id="search" placeholder="Pesquisa rápida">
                <button class="btn-search" type="submit"><span> <img src="assets/lupa-roxa.svg" alt=""></span></button>
                
            </div>
        </form>

        <main>
            <div class="content1">
                <h1>Nunca foi tão fácil encontrar o livro desejado!</h1>
                <p>É muito simples... Você nem precisa saber o nome todo do livro. Basta digitar parte do nome do livro, do nome do autor ou da editora, e pronto!</p>
                <a href="/search">Procurar livro  ➝</a>
            </div>

            <img src="assets/main-image1.svg" alt="Menina lendo">
        </main>

        <article>
        
            <div class="article-text">
                    <h1>A importância da leitura</h1>

                    <p>Ao ler o indivíduo adquire maior repertório, ampliando e expandindo seus horizontes cognitivos. Para além disso, estudos apontam que o ato de ler é muito prazeroso na medida em que reduz o stress ao mesmo tempo que estimula reflexões.</p>
                    <p>Por esse motivo, a leitura deve ser incentivada desde a educação primária. Incentivar os filhos pequenos em casa e criar hábitos são chaves importantes para que as crianças desenvolvam o gosto pela leitura. Uma dica é levá-los nas bibliotecas, livrarias ou mesmo contar histórias para eles.</p>
                    <a target="_blank" href="https://www.todamateria.com.br/a-importancia-da-leitura/"><span>https://www.todamateria.com.br/a-importancia-da-leitura/</span></a>
            </div>

            <img src="assets/main-image2.svg" alt="Menino lendo">
        
        </article>

        <section id="info"></section>
        
    </div>

    <footer>
            <div class="dev">
                <p>Desenvolvido por <a target="_blank" href="www.matheusfelizardo.com.br">Matheus Felizardo</a></p>
                <a target="_blank" href="www.matheusfelizardo.com.br"><img src="assets/personal-page.svg" alt="Matheus Felizardo"></a>
            </div>

            <div class="social-media">
                <a target="_blank" href="https://www.linkedin.com/in/matheus-felizardo/"><img src="assets/linkedin.svg" alt="Linkedin"></a>
                <a target="_blank" href="https://github.com/MatheusFelizardo"><img src="assets/github.svg" alt="Github"></a>
                <a target="_blank" href="https://www.instagram.com/matheus.felizardo_"><img src="assets/instagram.svg" alt="Instagram"></a>
            </div>
        </footer>
</body>

    <script src="scripts/script.js"></script>

</html>